<h1>Editing tide station</h1>

<%= render "form", tide_station: @tide_station %>

<br>

<div>
  <%= link_to "Show this tide station", @tide_station %> |
  <%= link_to "Back to tide stations", tide_stations_path %>
</div>
